.principal {
 border: solid 1px black;
 width: fit-content;
 margin: auto;

 
}
 
.encabezado {
position: relative;
display: flex;
justify-content: center;
gap: 135px;
border: solid 1px black;
width: fit-content;
margin: auto;

}

